.invoice-container {
  margin-top: 2em;
}

.invoice-card {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 0.5em;
  border-radius: 0.5em;
}

.invoice-number {
  font-weight: bold;
}

.due-date {
  color: var(--gray);
}

.total {
  font-weight: bold;
}

.to-name {
  color: var(--gray);
}

.status {
  font-weight: bold;
}
