.nav {
  background-color: #373b53;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.img-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.75em 0.75em;
  background-color: #7c5dfa;
  border-radius: 0 1em 1em 0;
  position: relative;
  overflow: hidden;
}

.img-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #9277ff;
  border-radius: 1em 0 0 0;
}

.img-wrapper img {
  display: block;
  width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 1;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding-right: 1em;
}

.login-logout-text {
  color: #ffff;
}
