#login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.75em;
  padding: 2em;
  gap: 1em;
  border: 2px solid var(--dark-purple);
  border-radius: 1em;
}

#login-form label {
  display: flex;
  flex-direction: column;
  margin: 0 0 0.5em 0;
  font-weight: bold;
}

#login-form input {
  border: 1px solid var(--light-purple);
  border-radius: 1em;
  padding: 0.5em 1em;
}

#login-form button {
  padding: 0.5em 1em;
  border-radius: 1em;
  border: none;
  background: var(--light-purple);
  color: white;
  cursor: pointer;
}

#login-form input:focus,
#login-form button:focus {
  outline: none;
  border-color: var(--dark-purple);
  box-shadow: 0 0 0 0.1em var(--light-purple);
}
